extends layout

block content
  h1 #{title}
  p(style="color: red;") #{error}
  form(method='POST' action='/restaurant/#{action}')
        div.form-group
            label(for='name') name
            input.form-control(type='text' id='name' placeholder='name' name='name' value='#{name}')
        div.form-group
            label(for='address') address
            input.form-control(type='test' id='address' placeholder='address' name='address' value='#{address}')

        h3 tags
        for tag in tags
            input(type="checkbox", id=tag.id, value=tag.id, name="tags", checked=(tag.restaurant_id != null ? "checked" : undefined))
            label(for=name.id) #{tag.name}
            br
        br
        br
        button.btn(type='submit') submit

