extends layout

block content
  h1= title
  p Welcome to #{title}
  div.row
    div.col-sm
      a(href="/restaurant/add"): button.btn.btn-success(type="button") + Add New Restaurant
      ol.list-group
        for restaurant in restaurants
          li.list-group-item
            a(href="/restaurant/#{restaurant.ID}") #{restaurant.NAME}
        else
          li sorry, no restaurant!
    div.col-sm
      a(href="/tag/add"): button.btn.btn-success(type="button") + Add New Tag
      ul.list-group
        for tag in tags
          li.list-group-item
            a(href="/tag/#{tag.ID}") #{tag.NAME}
        else
          li sorry, no restaurant!
    
  button.btn.btn-warning(type="button" onclick="location.href = '/logout'" style="margin-top: 50px") logout

