extends layout

block content
  h3= title
  a(href="/index") home
  br
  a(href="/restaurant/#{id}/edit") edit
  br
  a(href="/restaurant/#{id}/delete") delete
  h1= name
  p @ #{address}

  a(href="/restaurant/#{id}/menu/add") + Add menu
  ul
    for menu in menus
      li
        a(href="/restaurant/#{id}/menu/#{menu.ID}/edit") menuName #{menu.NAME} 
        p price #{menu.PRICE}
        &emsp;
    else
      p sorry, no menu!



  for tag in tags
    a(href="/tag/#{tag.id}" style="background-color: lightgreen;") # #{tag.name}
    &emsp;


