extends layout

block content
  h3= title
  a(href="/") home
  br
  a(href="/restaurant/#{id}/edit") edit
  br
  a(href="/restaurant/#{id}/delete") delete
  h1= name
  p @ #{address}
  for tag in tags
    a(href="/tag/#{tag.id}" style="background-color: lightgreen;") # #{tag.name}
    &emsp; 
  
  if score != null
    br
    - for (var i = 0; i < score; ++i) {
      span ⭐️
    - }
    &emsp;
    span #{Math.round(score * 100)/100}
  else
    p(style="color: lightgray;") There are no reviews yet.
    
  h4 REVIEWS
  form(method='POST' action='/review/#{id}')
    textarea.form-control(id='comment' placeholder='Please review this restaurant...' name='comment' value='#{comment}')
    br
    span score: 
    input(type="radio", id="1", value=1, name="score")
    | 1
    input(type="radio", id="2", value=2, name="score")
    | 2
    input(type="radio", id="3", value=3, name="score")
    | 3
    input(type="radio", id="4", value=4, name="score")
    | 4
    input(type="radio", id="5", value=5, name="score")
    | 5
    button.btn.btn-primary(type='submit') submit
  table.table
    for review in reviews
      tr 
        th(scope="row") #{review.name}
        td #{review.comment}
        td #{review.score}
        td #{review.created_at.getFullYear()}. #{review.created_at.getMonth()+1}. #{review.created_at.getDate()}

  //- p Menu
  //- ul
  //-   for menu in menus
  //-     li
  //-       p #{menu.NAME}
  //-       p #{menu.PRICE}
  //-   else
  //-     li sorry, no menu!

