extends layout

block content
  h3= title
  a(href="/index") home
  br
  a(href="/restaurant/#{id}/edit") edit
  br
  a(href="/restaurant/#{id}/delete") delete
  h1= name
  p @ #{address}
  p #{tags}

  p Menu
  ul
    for menu in menus
      li
        p #{menu.NAME}
        p #{menu.PRICE}
    else
      li sorry, no menu!

  p Reviews
  ul
    for review in reviews
      li
        p #{review.USER_ID}
        p #{review.COMMENT}
    else
      li sorry, no review!
