extends layout

block content
  h3= title
  a(href="/") home
  br
  a(href="/restaurant/#{id}/edit") edit
  br
  a(href="/restaurant/#{id}/delete") delete
  h1= name
  p @ #{address}
  for tag in tags
    a(href="/tag/#{tag.id}" style="background-color: lightgreen;") # #{tag.name}
    &emsp;

  h4 REVIEW
  form(method='POST' action='/review')
    label(for='review') review
    textarea.form-control(id='name' placeholder='Please review this restaurant...' name='review' value='#{review}')
  
  //- p Menu
  //- ul
  //-   for menu in menus
  //-     li
  //-       p #{menu.NAME}
  //-       p #{menu.PRICE}
  //-   else
  //-     li sorry, no menu!

  //- p Reviews
  //- ul
  //-   for review in reviews
  //-     li
  //-       p #{review.USER_ID}
  //-       p #{review.COMMENT}
  //-   else
  //-     li sorry, no review!
